In [30]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

In [31]:
df = pd.read_csv('IMBD.csv', encoding='unicode_escape');print(df.shape)

(129891, 7)

In [32]:
df = df[~df.movie.isna()];print(df.shape);df.head(3)

(115866, 7)

,movie,genre,runtime,certificate,rating,stars,votes
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...","5,39,085"
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...","1,06,759"
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...","41,808"

In [33]:
df['votes'] = df['votes'].str.replace(',','')
df['votes'] = pd.to_numeric(df['votes'], errors='coerce');df.head(3)

,movie,genre,runtime,certificate,rating,stars,votes
0,The Witcher,"Action, Adventure, Drama",60 min,A,8.1,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal...",539085.0
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163 min,UA,8.0,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham...",106759.0
2,Sound of Freedom,"Action, Biography, Drama",131 min,PG-13,7.9,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam...",41808.0

In [34]:
transformed_col = ['rating', 'votes']
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
transformed_values = imputer.fit_transform(df[transformed_col]); transformed_values

array([[8.1000000e+00, 5.3908500e+05],
       [8.0000000e+00, 1.0675900e+05],
       [7.9000000e+00, 4.1808000e+04],
       ...,
       [6.6000000e+00, 9.7700000e+02],
       [5.9000000e+00, 4.8009037e+03],
       [5.3000000e+00, 7.9900000e+02]])

In [35]:
df['rating'] = [item[0].round(1) for item in transformed_values]
df['votes'] = [item[1].round(0) for item in transformed_values]

In [42]:
df['runtime'] = df.runtime.str.split(' ').str[0]

In [44]:
movie = df[['movie', 'genre', 'runtime', 'certificate', 'stars']]
rating = df[['movie', 'rating', 'votes']]

In [45]:
movie.head(3)

,movie,genre,runtime,certificate,stars
0,The Witcher,"Action, Adventure, Drama",60,A,"['Henry Cavill, ', 'Freya Allan, ', 'Anya Chal..."
1,Mission: Impossible - Dead Reckoning Part One,"Action, Adventure, Thriller",163,UA,"['Tom Cruise, ', 'Hayley Atwell, ', 'Ving Rham..."
2,Sound of Freedom,"Action, Biography, Drama",131,PG-13,"['Jim Caviezel, ', 'Mira Sorvino, ', 'Bill Cam..."

In [46]:
rating.head(3)

                                           movie  rating     votes
0                                    The Witcher     8.1  539085.0
1  Mission: Impossible - Dead Reckoning Part One     8.0  106759.0
2                               Sound of Freedom     7.9   41808.0

In [48]:
print(len(movie), len(movie.drop_duplicates()))
print(len(rating), len(rating.duplicates()))

115866 115866
115866 115865

In [55]:
movie.to_csv('Movie.csv', index=False)
rating.to_csv('Rating.csv', index=False)